<h1>Welcome to LightSoft, <%= @user.email %>!</h1>
<h3>Your account signup.</h3><br/>
<h3>To login to the site, just follow this link: <%= @url %>.</h3><br/>
<p>Thanks for testing app and have a great day!</p>