/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.devise-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
  padding: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #848484;
  border-radius: 5px;
  background-color: rgba(255, 255, 225, 0.6);
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.sign_in {
  background-color: #F2F2F2;
  min-height: 100vh;
}

.sign_out {
  background-image: url(image_path('background.jpg'));
  background-color:#D8F6CE;
  min-height: 100vh;
}
